<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Truco</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" size="large">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" size="large">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" size="large">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" size="large">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" size="large">12</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <label class="label-time">time 1</label>
        <ion-button size="large">+</ion-button>
      </ion-col>
      <ion-col>
        <ion-label class="label-time">time 2</ion-label>
        <ion-button size="large">+</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>0</ion-col>
      <ion-col>0</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="large">-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large">-</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <button expand="block"></button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
